<%- include("partials/header.ejs") -%>
<!-- <h1>About</h1>
<div class="wrapper" style="height: 100vh">
  <p class="aboutparagraph">
    <strong>Bro Science</strong> <i class="fas fa-people-carry x9"></i> is a safe place for bros worldwide to share their vague knowledge of fitness, life, and maybe even quantum mechanics every now and then. 
    <br><br>I am bros worldwide.
    <br><br>
    I am a girl too actually, but um, we are all bros on this earth.
    
      </p>
</div> -->

<%- include("partials/footer.ejs") -%>
