<%- include("partials/header.ejs") -%>
<h1>Contact</h1>
<div class ="wrapper" style="height:100vh">
  <div class="contact" >
    <a href="mailto:sleem.eaas@gmail.com" >
     <i class="fa fa-google"></i>
     </a>

     <a href="https://github.com/NageebSalma"><i class="fa fa-github"></i>
         </a>
    
     <a href="https://twitter.com/SalmaNageeb7">
     <i class="fa fa-twitter"></i>
   </div>
</div>

 
    
    
 
<%- include("partials/footer.ejs") -%>
