<%- include("partials/header.ejs") -%>
<h1>Contact</h1>
<div class ="wrapper" style="height:100vh">
  <div class="contact >
    <a href="mailto: sleem.eaas@gmail.com" >
     <i class="fa fa-google"></i>
     </a>
 
 
     <a href="https://github.com/NageebSalma"><i class="fa fa-github"></i>
         </a>
    
 
     <a href="https://www.linkedin.com/in/salma-nageeb-0b891a217/?originalSubdomain=eg">
     <i class="fa fa-linkedin"></i>
     </a>
 
 
     <a href="https://www.facebook.com/salma.sharawy3/">
     <i class="fa fa-facebook"></i>
   </div>
</div>

 
    
    
 
<%- include("partials/footer.ejs") -%>
